.center_area {
  max-width: 500px;
  margin: 50px auto;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

@media screen and (max-width: 650px) {
  .center_area {
    margin: 30px auto;
  }
}
