.shape {
  --width: 50px;
  width: var(--width);
  height: var(--width);
  background-color: #511b20;
  &:not(.small) {
    margin: 10px auto;
  }
}

.circle {
  border-radius: 50%;
}

.triangle {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.cross {
  background-color: transparent;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #511b20;
  }

  &::before {
    left: 50%;
    transform: translateX(-50%);
    width: calc((var(--width) / 2));
    height: 100%;
  }

  &::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc((var(--width) / 2) - 6.25%);
    width: 115%;
  }
}

.star {
  background-color: transparent;
  display: block;
}

.small {
  --width: 8px;
}
