@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

.card {
  --width: 100px;
  --height: 138px;
  width: var(--width);
  position: relative;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  perspective: 500px;

  .inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    height: var(--height);
  }

  &:not(.shown) {
    .inner {
      transform: rotateY(180deg);
    }
  }

  &:not(.mine) {
    cursor: not-allowed;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: 100%;
    background-color: #f9fcfa;
    border-radius: 4px;
    padding: 8px 0;
    backface-visibility: hidden;
  }

  .back {
    background-color: #511b20;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    p {
      margin-bottom: 5px;
      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .card {
    --width: 80px;
    --height: 105px;
    .front {
      padding: 6px 0;
      border-radius: 3px;
    }
    .back {
      font-size: 12px;
      border-radius: 3px;
    }
  }
}
